<!DOCTYPE html>
<html>
  <head>
    <title>Company App</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<script src="https://maps.googleapis.com/maps/api/js?libraries=routes"></script>-->
    
  </head>

  <body id="doby" data-role="page">
    <div id="home"></div>
    <%= render "layouts/header" %>
    <div id="swipe-area">
      <%= yield %>
      <div style="margin-top:60px"></div>
      <%= render "layouts/footer" %>
      <div id="end"></div>
    </div>
    <script>
      var clicked = false;
      $(document).ready(function(){
      	$('a[href^="#"]').on('click',function (e) {
      	    e.preventDefault();
      	    var target = this.hash;
      	    var $target = $(target);
      	    $('html, body').stop().animate({
      	        'scrollTop': $target.offset().top
      	    }, 600, 'swing', function () {
      	    });
      	});
      });
      
      function openNav() {
          document.getElementById("mySidenav").style.width = "55vw";
          $("#mySidenav").fadeTo("fast",0.9);
          // $("#titulli").fadeTo("fast", 0.4);
          $("#swipe-area").fadeTo("fast", 0.3);
          clicked=true;
      }
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0px";
          $("#mySidenav").fadeTo("fast",1);
          // $("#titulli").fadeTo("fast", 1);
          $("#swipe-area").fadeTo("fast", 1)
          clicked=false;
      }
      
      function doSomething() {
        if(!clicked) {
          openNav(); 
        } else {
         closeNav(); 
        }
      }
      
      function fade(){
        $("#mySidenav").fadeTo("fast",1);
      }
      
      var btnContainer = document.getElementById("mySidenav");
      var btns = btnContainer.getElementsByClassName("navside");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
          
        });
      }
      
      var btnContainer = document.getElementById("navi");
      var btns = btnContainer.getElementsByClassName("navmain");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("on");
          current[0].className = current[0].className.replace(" on", "");
          this.className += " on";
          
        });
      }
      
      $( window ).bind('beforeunload', function()
      {
         $('html, body').stop().animate({
      	        'scrollTop': $("#home").offset().top
      	    }, 0, 'swing', function () {
      	});
      	
      });
      
      // function initialize() {
        

      //   var map = new google.maps.Map(document.getElementById("mapa"), {
      //       zoom: 17,
      //       center: new google.maps.LatLng(42.385546, 20.438384),
      //       mapTypeId: google.maps.MapTypeId.HYBRID
      //   });
      //   var marker = new google.maps.Marker({
      //     position: new google.maps.LatLng(42.385546, 20.438384),
      //     map: map,
      //     title: 'N.N.P "SYLHASI"'
      //   });
      // }
      // google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>
